ES-Service/service-metro-sap/src/main/resources/xml/Z_WARRANTY_WILDCARD_SEARCH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions">
    <types>
        <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:element name="Z_WARRANTY_WILDCARD_SEARCH">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="PRODUCTNUM" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="18"></xsd:maxLength>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SALESORDERNUM" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="14"></xsd:maxLength>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SERIALNUM" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"></xsd:maxLength>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="TOTALRECORDRETURN" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="3"></xsd:maxLength>
                                    <xsd:pattern value="\d*"></xsd:pattern>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Z_WARRANTY_WILDCARD_SEARCH.Response">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="ZPRODUCTLIST" type="s0:ZWTYWILDCARD"></xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ZPRODLIST">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZWTY_PRODLIST"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZWTYERROR">
                <xsd:sequence>
                    <xsd:element name="ID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MESSAGE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZWTYERRORTAB">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZWTYERROR"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZWTYWILDCARD">
                <xsd:sequence>
                    <xsd:element name="PRODLIST" minOccurs="0" type="s0:ZPRODLIST"></xsd:element>
                    <xsd:element name="WTYMESSAGE" minOccurs="0" type="s0:ZWTYERRORTAB"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZWTY_PRODLIST">
                <xsd:sequence>
                    <xsd:element name="PRODUCTID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SERIALNUM" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OOSKEY" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PRODUCTDESC" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHIPTOCTRYCODE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Z_WARRANTY_WILDCARD_SEARCHInput">
        <part name="parameters" element="s0:Z_WARRANTY_WILDCARD_SEARCH"></part>
    </message>
    <message name="Z_WARRANTY_WILDCARD_SEARCHOutput">
        <part name="parameters" element="s0:Z_WARRANTY_WILDCARD_SEARCH.Response"></part>
    </message>
    <portType name="Z_WARRANTY_WILDCARD_SEARCHPortType">
        <operation name="Z_WARRANTY_WILDCARD_SEARCH">
            <input message="s0:Z_WARRANTY_WILDCARD_SEARCHInput"></input>
            <output message="s0:Z_WARRANTY_WILDCARD_SEARCHOutput"></output>
        </operation>
    </portType>
    <binding name="Z_WARRANTY_WILDCARD_SEARCHBinding" type="s0:Z_WARRANTY_WILDCARD_SEARCHPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="Z_WARRANTY_WILDCARD_SEARCH">
            <soap:operation soapAction="http://www.sap.com/Z_WARRANTY_WILDCARD_SEARCH"></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="Z_WARRANTY_WILDCARD_SEARCHService">
        <documentation>SAP Service Z_WARRANTY_WILDCARD_SEARCH via SOAP</documentation>
        <port name="Z_WARRANTY_WILDCARD_SEARCHPortType" binding="s0:Z_WARRANTY_WILDCARD_SEARCHBinding">
            <soap:address location="http://dvl.sapnet.hp.com/sap/bc/soap/rfc"></soap:address>
        </port>
    </service>
</definitions>
