ES-Service/service-metro-sap/src/main/resources/xml/ZA2_FMAES_GETENT_V3_WS.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xsd:schema  xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="ZA2_FMAES_GETENT_V3_WS">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="CLIENT_TYPE">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="COUNTRY">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OPTION" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PRODUCT_NUMBER">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERIAL_NUMBER" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZA2_FMAES_GETENT_V3_WS.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ENTITLEMENT" type="s0:ZA2_AES_ENT_WEBSERVICE_V3_S" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZA2_AES_DELIVERABLE_V3_S">
        <xsd:sequence>
          <xsd:element name="DELIVERABLE_NAME" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERABLE_VALUE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERABLE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_DELIVERABLE_V3_T">
        <xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZA2_AES_DELIVERABLE_V3_S" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_ENTSUMMARY_T">
        <xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZA2_AES_ENT_SUMMARY_S" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_ENT_DETAIL_V3_S">
        <xsd:sequence>
          <xsd:element name="ENTITLEMENT_SOURCE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WARRANTY_CODE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="GRACE_PERIOD" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CAREPACK_SERIAL_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERVICE_CONTRACT_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OFFERS" minOccurs="0" type="s0:ZA2_AES_OFFER_V3_T" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_ENT_DETAIL_V3_T">
        <xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZA2_AES_ENT_DETAIL_V3_S" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_ENT_HEADER_V2_S">
        <xsd:sequence>
          <xsd:element name="CHECK_DATE" minOccurs="0" type="s0:date" />
          <xsd:element name="COUNTRY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_ALIAS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_DESCRIPTION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_LINE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SALES_ORDER_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CUSTOMER_NAME" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SHIP_TO_COUNTRY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ORIGINAL_WARRANTY_CATEGORY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CLIENT_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REQUEST_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ERROR_CODE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ERROR_MESSAGE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_ENT_SUMMARY_S">
        <xsd:sequence>
          <xsd:element name="ENTITLEMENT_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ENTITLEMENT_START_DATE" minOccurs="0" type="s0:date" />
          <xsd:element name="ENTITLEMENT_END_DATE" minOccurs="0" type="s0:date" />
          <xsd:element name="ENTITLEMENT_STATUS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ENTITLEMENT_DAYS_LEFT" minOccurs="0" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_ENT_WEBSERVICE_V3_S">
        <xsd:sequence>
          <xsd:element name="INPUT_HEADER" minOccurs="0" type="s0:ZA2_AES_INP_HEADER_V2_S" />
          <xsd:element name="ENTITLEMENT_HEADER" minOccurs="0" type="s0:ZA2_AES_ENT_HEADER_V2_S" />
          <xsd:element name="ENTITLEMENT_SUMMARY" minOccurs="0" type="s0:ZA2_AES_ENTSUMMARY_T" />
          <xsd:element name="ENTITLEMENT_DETAIL" minOccurs="0" type="s0:ZA2_AES_ENT_DETAIL_V3_T" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_INP_HEADER_V2_S">
        <xsd:sequence>
          <xsd:element name="COUNTRY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="QUERY_OPTION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CLIENT_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_MODIFIER_V3_S">
        <xsd:sequence>
          <xsd:element name="MODIFIER_NAME" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MODIFIER_VALUE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MODIFIER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_MODIFIER_V3_T">
        <xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZA2_AES_MODIFIER_V3_S" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_OFFER_V3_S">
        <xsd:sequence>
          <xsd:element name="OFFER_CODE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OFFER_DESCRIPTION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OFFER_START_DATE" minOccurs="0" type="s0:date" />
          <xsd:element name="OFFER_END_DATE" minOccurs="0" type="s0:date" />
          <xsd:element name="START_DATE_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OFFER_STATUS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OFFER_LENGTH" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="GIS_OFFER_CODE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERABLE_NAMES" minOccurs="0" type="s0:ZA2_AES_DELIVERABLE_V3_T" />
          <xsd:element name="MODIFIER_DESCRIPTIONS" minOccurs="0" type="s0:ZA2_AES_MODIFIER_V3_T" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZA2_AES_OFFER_V3_T">
        <xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZA2_AES_OFFER_V3_S" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
