ES-Service/service-metro-sap/src/main/resources/xml/ZES_CONTRACT_SUM_ES10.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xsd:schema  xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="ZES_CONTRACT_SUM_ES10">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="CONTACTS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_CONTACT_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="DELIVERABLES">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_DELIV_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ES_REQUEST" type="s0:ZES_CQS_CONTRACT_REQUEST_SUM" />
            <xsd:element name="LOCATIONS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_LOCATION_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="MESSAGES">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_MESSAGE" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="OBLIGATION_HEADERS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_OBLIGATION_HD_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="PRODUCTS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_PRODUCT_ITEM_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="RUNTIME">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_RUNTIME" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="SERVICES">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_SERVICES_ITEM_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZES_CONTRACT_SUM_ES10.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="CONTACTS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_CONTACT_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="DELIVERABLES">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_DELIV_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="LOCATIONS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_LOCATION_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="MESSAGES">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_MESSAGE" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="OBLIGATION_HEADERS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_OBLIGATION_HD_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="PROC_STATE">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PRODUCTS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_PRODUCT_ITEM_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="RUNTIME">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_RUNTIME" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="SERVICES">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_SERVICES_ITEM_SUM" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="SVC_AGREEMENT_ID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="12" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZES_CQS_CONTACT_SUM">
        <xsd:sequence>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOURCE_PERSON_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FULLNAME" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="150" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PHONE_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FAX_NUMBER" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EMAIL_ADDRESS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="241" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_CONTRACT_REQUEST_SUM">
        <xsd:sequence>
          <xsd:element name="SVC_AGREEMENT_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_SW_PRODUCTS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_HW_PRODUCTS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_JW_PRODUCTS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CHECK_DATE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ACTIVE_CONTRACTS_ONLY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERVICEABLE_PRODUCTS_ONLY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERVICEABLE_PROD_OFFER_LIST" minOccurs="0" type="s0:ZES_CQS_SERVICEABLE_PROD_SUM_T" />
          <xsd:element name="INCLUDE_ADDRESSES" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_CONTACTS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_SERVICES" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_DELIVERABLES" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_SW_SERVICE_LEVEL_CAT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_FUNCTIONAL_LOCATION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCLUDE_RUNTIME" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_DELIV_SUM">
        <xsd:sequence>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERVICE_LINK" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIV_CODE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIV_NAME" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIV_VALUE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_LOCATION_SUM">
        <xsd:sequence>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOURCE_CUSTOMER_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SITE_BUSINESS_NAME1" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SITE_BUSINESS_NAME2" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SITE_BUSINESS_NAME3" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SITE_BUSINESS_NAME4" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FMT_ADDR_LINE1" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FMT_ADDR_LINE2" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FMT_ADDR_LINE3" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FMT_ADDR_LINE4" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FMT_ADDR_LINE5" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="80" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STREET_ADDR1" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STREET_ADDR2" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CITY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="GEOGRAPHIC_AREA" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="POSTAL_CODE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ISO_COUNTRY_CD" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_MESSAGE">
        <xsd:sequence>
          <xsd:element name="TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MSG_NO" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESSAGE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_OBLIGATION_HD_SUM">
        <xsd:sequence>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOURCE_OBLIGATION_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CONTRACT_DOC_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HEADER_START_DATE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HEADER_END_DATE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CONTRACT_STATUS" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIVERY_BLOCK" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ACTIVE_OBLIGATION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AMP_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SW_SERVICE_LEVEL_CATEGORY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FUNCTIONAL_LOCATION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="HP_ADMIN_PERSON_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOLD_TO_CUSTOMER_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_PRODUCT_ID">
        <xsd:sequence>
          <xsd:element name="SVC_PRODUCT_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_PRODUCT_ITEM_SUM">
        <xsd:sequence>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PRODUCT_DESCRIPTION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_RUNTIME">
        <xsd:sequence>
          <xsd:element name="TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="START" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="21" />
                <xsd:fractionDigits value="7" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="END" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="21" />
                <xsd:fractionDigits value="7" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIFF" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_SERVICEABLE_PROD_SUM_T">
        <xsd:sequence>
          <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:ZES_CQS_PRODUCT_ID" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZES_CQS_SERVICES_ITEM_SUM">
        <xsd:sequence>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOURCE_OBLIGATION_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ITEM" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ASSOCIATED_PKG_ITEM" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SVC_PRODUCT_ID" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SVC_DESCRIPTION" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SVC_PRODUCT_TYPE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SVC_PRODUCT_LINE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STAND_ALONE_SERVICE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="INCIDENT_BASED_SERVICE" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERVICE_QUANTITY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AVAILABLE_QUANTITY" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DELIV_LINK" minOccurs="0">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
